/* style.css */
body {
    background-color: white;
    font-family: Arial, sans-serif;
}

.title {
    text-align: right;
    color: #2c3e50;
    font-size: 28px;
    padding: 10px;
}

.section-title {
    text-align: center;
    font-size: 20px;
    margin-top: 40px;
}

.description {
    text-align: right;
    font-size: 18px;
    color: #34495e;
    margin-bottom: 20px;
}

.graph {
    margin: 20px auto;
    width: 8%;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: space-between; /* Push logo to right */
    align-items: center;            /* Vertically center both */
    padding: 10px 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.dashboard-title {
    font-size: 32px;
    margin: 0;
}

.dashboard-logo {
    height: 60px;     /* Adjust size here */
    width: auto;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 20px 0;
    margin-top: 60px;
    border-top: 1px solid #ddd;
}
